---
import DefaultLayout from '../Layouts/DefaultLayout.astro';
import Cover from '../Components/Cover.astro';
// import EntrySection from '../Components/EntrySection.astro';
import Entry from '../Components/Entry.astro';

import { getCollection, getEntryBySlug, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';
import EntrySection from '../Components/EntrySection.astro';

const artistsPost = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(artistsPost);
---

<DefaultLayout>
  <Cover coverText="discover">
    <video id="video-cover" autoplay muted playsinline loop class="cover__bg">
      <source
        src="/images/artist-images/young-miko/young-miko-video.mp4"
        type="video/mp4"
      />
    </video>
  </Cover>
  <EntrySection
    sectionTitle="Top Artist of the week"
    subtitle="This list updte every week"
  />
  <section class="flex flex-col gap-4 p-4">
    <h2 class="text-4xl font-extrabold">All artist</h2>
    <p class="text-xl text-slate-400 font-bold capitalize">
      Every artist that has been posted
    </p>
    <div class="all_post grid gap-[5px]">
      {
        fomrmatArtist.map((post) => (
          <Entry
            url={post.slug}
            title={post.data.title}
            artist={post.data.artist}
            src={post.data.img.src}
            alt={post.data.img.alt}
          />
        ))
      }
    </div>
  </section>
</DefaultLayout>

<style>
  .all_post {
    grid-template-columns: repeat(auto-fit, minmax(min(15em, 100%), 1fr));
    @media (width < 40em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
