---

const { title, url, description, pubDate, author, image, tags } = Astro.props;
---

<li>
  <a href={url} title={title} class="group">
    <article class="bg-[var(--clr-card-bgk)] p-4 flex-1 h-full flex flex-col rounded-xl overflow-hidden">
      <div class="block w-full lg:col-span-2">
        <img
          class="aspect-[1] object-cover bg-center h-full w-full rounded-lg"
          src={image}
          alt={title}
        />
      </div>
      <div
        class="flex flex-col items-start justify-between h-full flex-1 w-full mt-2"
      >
        <div>
          <div class="inline-flex space-x-1 items-center">
            <p class="text-xs font-medium text-black">{author}</p>
            <span aria-hidden="true">&middot;</span>
            <div class="flex text-xs text-zinc-400">
              <time datetime="2020-03-16">{pubDate}</time>
            </div>
          </div>
          <h3 class="text-[var(--astro-code-color-text)] text-xl font-bold text-pretty">
            {title}
          </h3>
        </div>
        <p class="text-sm text-zinc-500 line-clamp-2">{description}</p>
        <div class="mt-4 flex space-x-2">
          {
            tags.map((tag) => (
              <span class="rounded-sm bg-[var(--clr-tags)] px-2 p-1 text-xs font-medium text-black">{tag}</span>
            ))
          }
        </div>
      </div>
    </article>
  </a>
</li>

<style>
  article {
    transition: all 240ms ease-in-out;
    &:hover {
      box-shadow: 0 0 1.5rem hsl(0, 0%, 85%);
    }
  }
</style>