---
const {
  title,
  url,
  description,
  pubDate,
  author,
  image,
  tags,
  mediaTransitionName,
} = Astro.props;

import Image from "astro/components/Image.astro";
---

<li>
  <a href={url} title={title} class="group">
    <article
      class="border_shadow bg-[var(--clr-card-bgk)] h-full flex flex-col rounded-lg overflow-hidden"
    >
      <header class="p-4 flex items-center gap-2">
        <h3
          class="text-[var(--astro-code-color-text)] text-lg xl:text-xl font-bold text-pretty"
        >
          {title}
        </h3>
        <div class="flex items-center gap-2">
          <span aria-hidden="true">&middot;</span>
          <div class="flex text-xs text-zinc-400">
            <time datetime="2020-03-16">{pubDate}</time>
          </div>
        </div>
      </header>
      <div
        class="block w-full overflow-hidden"
        transition:name={mediaTransitionName}
      >
        <Image
          class="w-full aspect-[1] object-cover object-top group-hover:scale-110 transition-all duration-200"
          src={image}
          alt={title}
          width={100}
          height={50}
        />
      </div>
      <div
        class="p-4 flex flex-col items-start justify-between h-full flex-1 w-full"
      >
        <p class="text-xs md:text-sm text-zinc-500 line-clamp-2">
          {description}
        </p>
        <div class="text-xs mt-2 flex space-x-1 flex-wrap">
          {
            tags.map((tag) => (
              <span class="rounded-sm bg-[var(--clr-tags)] px-2 p-1 text-xs font-medium text-black">
                {tag}
              </span>
            ))
          }
        </div>
      </div>
    </article>
  </a>
</li>

<style>
  article {
    transition: all 240ms ease-in-out;
    &:hover {
      box-shadow: 0 0 1.5rem hsl(0, 0%, 85%);
    }
  }
</style>
