---
// import Layout
import DefaultLayout from '../../Layouts/DefaultLayout.astro';
// import components
import Cover from '../../Components/Cover.astro';
import EntrySection from '../../Components/EntrySection.astro';
import SectionInfo from '../../Components/SectionInfo.astro';

import { CollectionEntry, getCollection, getEntryBySlug } from 'astro:content';

export async function getStaticPaths() {
  const artistsPost = await getCollection('artists', ({ data }) => {
    return !data.draft && data.date;
  });

  return artistsPost.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'artists'>;
}
const { post } = Astro.props;

const { Content } = await post.render();
---

<DefaultLayout subtitle={post.data.title}>
  <Cover coverText={post.data.artist}>
    <img src={post.data.img.src} alt={post.data.img.alt} class="cover__bg" />
  </Cover>
  <SectionInfo>
    <img src={post.data.img2.src} alt={post.data.img2.alt} slot="images" />
    <img src={post.data.img.src} alt={post.data.img.alt} slot="images" />
    <article class="entry-section__article" slot="text">
      <h2 class="entry-section__h2">
        {post.data.title}
      </h2>
      <div class="entry-section__ps">
        <Content />
      </div>
    </article>
  </SectionInfo>
  <SectionInfo>
    <img src={post.data.img2.src} alt={post.data.img2.alt} slot="images" />
    <img src={post.data.img.src} alt={post.data.img.alt} slot="images" />
    <article class="entry-section__article" slot="text">
      <h2 class="entry-section__h2">
        {post.data.title}
      </h2>
      <div class="entry-section__ps">
        <Content />
      </div>
    </article>
  </SectionInfo>
  <!-- <section class="entry-section section" aria-label="Artist about artist">
    <article class="entry-section__article">
      <h2 class="entry-section__h2">
        {post.data.title}
      </h2>
      <div class="entry-section__ps">
        <Content />
      </div>
    </article>
    <aside class="entry-section__aside">
      <img src={post.data.img2.src} alt={post.data.img2.alt} />
    </aside>
  </section> -->
  <!-- <EntrySection sectionTitle="Discover more artist" /> -->
</DefaultLayout>

<style lang="scss">
  .entry-section {
    margin: 10vh 0;
    gap: 3rem;
    &__article,
    &__ps {
      padding-inline-start: 2vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__ps {
      padding-inline-start: 5vw;
    }
    &__aside {
      img {
        aspect-ratio: 4/4;
        object-fit: cover;
      }
    }
  }
</style>
