---
// import Layout
import DefaultLayout from '../../Layouts/DefaultLayout.astro';
// import components
import Cover from '../../Components/Cover.astro';
import DashNumber from '../../Components/DashNumbers';
import SectionInfo from '../../Components/SectionInfo.astro';

//import utils
import { formatNumber } from '../../js/utils';

import { CollectionEntry, getCollection } from 'astro:content';
import MusicPlayer from '../../Components/MusicPlayer.astro';

export async function getStaticPaths() {
  const artistsPost = await getCollection('artists', ({ data }) => {
    return !data.draft && data.date;
  });

  return artistsPost.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'artists'>;
}
const { post } = Astro.props;

const { Content } = await post.render();

const dashNumbersData = [
  {
    social: 'instagram',
    icon: '/icons/instagram.avif',
    percentage: 30,
  },
  {
    social: 'tiktok',
    icon: '/icons/tiktok.avif',
    percentage: 70,
  },
  {
    social: 'spotify',
    icon: '/icons/spotify.avif',
    percentage: 15,
  },
  {
    social: 'twitter',
    icon: '/icons/twitter.avif',
    percentage: 7,
  },
];
---

<DefaultLayout subtitle={post.data.title}>
  <Cover coverText={post.data.artist}>
    <video autoplay muted playsinline loop class="cover__bg">
      <source src={post.data.video.src} type="video/mp4" />
    </video>
  </Cover>
  <section
    class="p-4 lg:p-[0] grid grid-cols-2 lg:grid-cols-4 gap-4"
    aria-label="Artist data"
  >
    <DashNumber
      social={dashNumbersData[0].social}
      icon={dashNumbersData[0].icon}
      followers={formatNumber(post.data.socials.instagram)}
      percentage={dashNumbersData[0].percentage}
    />
    <DashNumber
      social={dashNumbersData[1].social}
      icon={dashNumbersData[1].icon}
      followers={formatNumber(post.data.socials.tiktok)}
      percentage={dashNumbersData[1].percentage}
    />
    <DashNumber
      social={dashNumbersData[2].social}
      icon={dashNumbersData[2].icon}
      followers={formatNumber(post.data.socials.spotify)}
      percentage={dashNumbersData[2].percentage}
    />
    <DashNumber
      social={dashNumbersData[3].social}
      icon={dashNumbersData[3].icon}
      followers={formatNumber(post.data.socials.twitter)}
      percentage={dashNumbersData[3].percentage}
    />
  </section>
  <SectionInfo position={true}>
    <article
      class="flex flex-col gap-4 border-[1px] rounded-lg border-clr p-4"
      slot="text"
    >
      <Content />
    </article>
    <MusicPlayer slot="images" />
  </SectionInfo>
</DefaultLayout>

<style lang="scss">
  .entry-section {
    // margin: 10vh 0;
    gap: 3rem;
    &__article,
    &__ps {
      padding: 5vh 2vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__ps {
      padding-inline-start: 5vw;
    }
  }
</style>
