---
// import Layout
import DefaultLayout from '../../Layouts/DefaultLayout.astro';
// import components
import Cover from '../../Components/Cover.astro';
import DashNumber from '../../Components/DashNumbers';
import SectionInfo from '../../Components/SectionInfo.astro';

//import utils
import { formatNumber } from '../../js/utils';

import { CollectionEntry, getCollection, getEntryBySlug } from 'astro:content';
import MusicPlayer from '../../Components/MusicPlayer.astro';

export async function getStaticPaths() {
  const artistsPost = await getCollection('artists', ({ data }) => {
    return !data.draft && data.date;
  });

  return artistsPost.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'artists'>;
}
const { post } = Astro.props;

const { Content } = await post.render();

const dashNumbersData = [
  {
    social: 'instagram',
    icon: '/',
    followers: 3000000,
    percentage: 30,
  },
  {
    social: 'tiktok',
    icon: '/',
    followers: 14000000,
    percentage: 70,
  },
  {
    social: 'spotify',
    icon: '/',
    followers: 2000000,
    percentage: 15,
  },
  {
    social: 'twitter',
    icon: '/',
    followers: 500000,
    percentage: 7,
  },
];
---

<DefaultLayout subtitle={post.data.title}>
  <Cover coverText={post.data.artist}>
    <video autoplay muted playsinline loop class="cover__bg">
      <source src={post.data.video.src} type="video/mp4" />
    </video>
  </Cover>
  <section aria-label="Artist data">
    <h2>{post.data.artist}</h2>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      {
        dashNumbersData.map((data) => (
          <DashNumber
            social={data.social}
            icon={data.icon}
            followers={formatNumber(data.followers)}
            percentage={data.percentage}
          />
        ))
      }
    </div>
  </section>
  <SectionInfo position={true}>
    <article
      class="flex flex-col gap-4 border-[1px] rounded-lg border-clr p-8"
      slot="text"
    >
      <Content />
    </article>
    <MusicPlayer slot="images" />
  </SectionInfo>
</DefaultLayout>

<style lang="scss">
  .entry-section {
    margin: 10vh 0;
    gap: 3rem;
    &__article,
    &__ps {
      padding: 5vh 2vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__ps {
      padding-inline-start: 5vw;
    }
  }
</style>
