---
const { title, src, alt, url, artist } = Astro.props;
---

<a href={`/artists/${url}/`} class="mb-[1rem]">
  <article class=`entries flex flex-col gap-[.5rem]`>
    <div class="overflow-hidden">
      <img loading="lazy" class="entries__bg" src={src} alt={alt} />
    </div>
    <div>
      <h3 class="text-md entries__h3 font-bold">{title}</h3>
      <span class="text-gray-600 text-md"> {artist}</span>
    </div>
  </article>
</a>

<style lang="scss">
  .entries {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &__bg {
      object-fit: cover;
      aspect-ratio: 4/3;
      width: 100%;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__h3 {
      // font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
    }
  }
</style>
