---
import { getCollection, getEntryBySlug, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';
import Entry from './Entry.astro';

const artistsPost = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(artistsPost, {
  limit: 3,
});

const { sectionTitle } = Astro.props;
---

<section class="post flex flex-col" aria-label="Recent Entries">
  <h2 class="text-left">{sectionTitle}</h2>
  <div class="post__div grid gap-4">
    <!-- Entries goes in here -->
    {
      fomrmatArtist.map((post) => (
        <Entry
          url={post.slug}
          title={post.data.title}
          artist={post.data.artist}
          src={post.data.img.src}
          alt={post.data.img.alt}
        />
      ))
    }
  </div>
</section>

<style lang="scss" is:global>
  .post {
    padding-inline: 1rem;
    margin: 10vh 0;
    gap: 2rem;
    h2 {
      font-size: clamp(2rem, calc(1.7rem + 2.75vw), 3.5rem);
    }
    &__div {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
    }
  }
</style>
