---
import { getCollection, getEntryBySlug, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';
import Entry from './Entry.astro';

const artistsPost = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(artistsPost, {
  limit: 4,
});

const { sectionTitle, subtitle } = Astro.props;
---

<section class="post flex flex-col p-4" aria-label="Recent Entries">
  <h2 class="text-left font-extrabold">{sectionTitle}</h2>
  <p class="text-xl text-slate-400 font-bold capitalize">{subtitle}</p>
  <div class="post__div grid gap-4 mt-8">
    <!-- Entries goes in here -->
    {
      fomrmatArtist.map((post) => (
        <Entry
          url={post.slug}
          title={post.data.title}
          artist={post.data.artist}
          src={post.data.img.src}
          alt={post.data.img.alt}
        />
      ))
    }
  </div>
</section>

<style lang="scss" is:global>
  .post {
    margin: 10vh 0;
    h2 {
      font-size: clamp(2rem, calc(1.5rem + 2vw), 3rem);
    }
    &__div {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
    }
  }
</style>
