---
const { title, src, alt, url, artist } = Astro.props;
---

<!-- <a href={`/artists/${url}/`} class=`card entries ${aspectRatio}`>
  <img loading="lazy" class=`entries__bg` src={src} alt={alt} />
  <div class="card__content">
    <h3 class="card__title">{title}</h3>
  </div>
</a> -->
<a href={`/artists/${url}/`}>
  <article class=`entries flex flex-col gap-[.5rem]`>
    <div class="overflow-hidden">
      <img loading="lazy" class="entries__bg" src={src} alt={alt} />
    </div>
    <h3 class="entries__h3">{title}</h3>
    <span class="text-grey-200"> {artist}</span>
  </article>
</a>

<style lang="scss">
  .entries {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &__bg {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__h3 {
      font-size: clamp(1em, calc(1em + 1vw), 2em);
      color: hsl(0, 0%, 100%);
      transition: all 0.23s ease-in-out;
    }
  }
</style>
