---
import { getCollection, getEntryBySlug, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';
import Entry from './Entry.astro';

const artistsPost = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(artistsPost, {
  limit: 4,
});

const { sectionTitle } = Astro.props;
---

<section class="post" aria-label="Recent Entries">
  <h2>{sectionTitle}</h2>
  <div class="post__div">
    <!-- Entries goes in here -->
    {
      fomrmatArtist.map((post) => (
        <Entry
          url={post.slug}
          title={post.data.title}
          src={post.data.img.src}
          alt={post.data.img.alt}
        />
      ))
    }
  </div>
</section>

<style lang="scss" is:global>
  .post {
    &,
    &__div {
      display: grid;
    }
    padding-inline: 1rem;
    margin: 20vh 0;
    text-align: center;
    gap: 2rem;
    &__div {
      gap: 1rem;
      grid-template-areas:
        'one'
        'two'
        'three'
        'four';
      @media (min-width: 40em) {
        grid-template-areas:
          'one two four'
          'one three four';
      }
      .entries:nth-child(1) {
        grid-area: one;
      }
      .entries:nth-child(2) {
        grid-area: two;
      }
      .entries:nth-child(3) {
        grid-area: three;
      }
      .entries:nth-child(4) {
        grid-area: four;
      }
    }
  }
</style>
