---
const { title, src, alt, url, aspectRatio } = Astro.props;
---

<a href={`/artists/${url}/`} class=`card entries ${aspectRatio}`>
  <!-- <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"
    ></path></svg
  > -->
  <img loading="lazy" class=`entries__bg` src={src} alt={alt} />
  <div class="card__content">
    <h3 class="card__title">{title}</h3>
  </div>
</a>

<!-- <article class="entries">
  <a href={`/artists/${url}/`}>
    <img loading="lazy" class="entries__bg" src={src} alt={alt} />
    <h3 class="entries__h3">{title}</h3>
  </a>
</article> -->

<style lang="scss">
  // .entries {
  //   font-size: 90%;
  //   position: relative;
  //   overflow: hidden;
  //   flex-direction: column;
  //   border-radius: 1rem;

  //   &__bg {
  //     height: 100%;
  //     object-fit: cover;
  //     aspect-ratio: 1;
  //     width: 25em;
  //     @media (min-width: 40em) {
  //       aspect-ratio: 4/2;
  //     }
  //     &:hover {
  //       transform: scale(1.1);
  //     }
  //   }
  //   &__h3 {
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     font-size: clamp(1.5em, 2vw, 3em);
  //     color: hsl(0, 0%, 100%);
  //     background: linear-gradient(hsla(180, 14%, 99%, 0), hsla(0, 0%, 0%, 0.8));
  //     transition: all 0.23s ease-in-out;
  //   }
  // }
  .card {
    font-size: 90%;
    position: relative;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card.aspect-ratio {
    aspect-ratio: 1;
  }

  .entries__bg {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 25rem;
    @media (min-width: 40em) {
      aspect-ratio: 4/2;
    }
  }

  .card:hover {
    // transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card__content {
    position: absolute;
    // transform: translate(-50%, -50%) rotate(-45deg);
    inset: 0;
    padding: 20px;
    background-color: #fff;
    opacity: 0;
    display: grid;
    place-items: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card:hover .card__content {
    // transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card__title {
    margin: 0;
    font-size: clamp(1.2em, calc(1em + 1.5vw), 3em);
    color: #333;
    font-weight: 700;
  }

  .card__description {
    margin: 10px 0 0;
    font-size: 1rem;
    color: #777;
    line-height: 1.4;
  }
</style>
