---
import '../assets/scss/index.scss';

import SiteMeta from '../Components/SiteMeta.astro';
import LinkFonts from '../Components/SiteMeta.astro';
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import Preloader from '../Components/Preloader.astro';

const {
  title = 'MUSIC.GRAM',
  subtitle,
  description = 'Where my favorite music lays',
  url = 'https://music-gram-yefreescoding.vercel.app',
  image = '/opengraph.png',
  author = 'Yefree De Los Santos',
} = Astro.props;

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <SiteMeta
      title={title}
      subtitle={subtitle}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://music-gram-yefreescoding.vercel.app`}
      image={image}
      author={author}
    />
    <!-- Fonts Google -->
    <LinkFonts />
  </head>
  <body>
    <Preloader />
    <Header />
    <main>
      <slot />
    </main>
    <!-- <Footer />   -->
  </body>
</html>
