---
import '../assets/scss/index.scss';

import SiteMeta from '../Components/SiteMeta.astro';
import LinkFonts from '../Components/SiteMeta.astro';
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import Preloader from '../Components/Preloader.astro';

const {
  title = 'MUSIC.GRAM',
  subtitle,
  description = 'The unofficial website for the upcoming artist BB Trickz',
  url,
  image = '/',
  author = 'Yefree De Los Santos',
} = Astro.props;

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SiteMeta
      title={title}
      subtitle={subtitle}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://accessible-astro.dev/${title
            .toLowerCase()
            .replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
    <!-- Fonts Google -->
    <LinkFonts />
  </head>
  <body>
    <Preloader />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // import scss utilities
      @use '../assets/scss/util/' as *;
      // ==========
      .section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(25em, 100%), 1fr));
      }
      body {
        color: var(--Dark-moderate-cyan);
        background-color: var(--Dark-blue);
        font-family: $regularFont;
        overflow-x: hidden;
        width: min(100%, 90em);
        margin: 0 auto;
        flex-direction: column;

        &,
        .header,
        nav,
        .cover,
        .about {
          display: flex;
        }

        & * {
          transition: all 0.2s linear;
        }
      }
    </style>
  </body>
</html>
