---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
// import { AstroSeo } from "@astrolib/seo";
import { Image } from "astro:assets";
---

<BaseLayout>
  <section class="bg-[var(--clr-bgk)]">
    <div class="md: mx-auto lg: max-w-8xl lg: bg-[var(--clr-card-bgk)]">
      <div class="lg:text-center">
        <Image
          class="w-full h-[35em] aspect-[16/9] object-cover object-center"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={100}
          height={50}
          loading="eager"
        />
        <div class="p-4 flex flex-col md:flex-row mt-4 px-4 justify-between">
          <p class="text-xs text-[var(--clr-base-text)]">
            {frontmatter.pubDate.toString().slice(0, 10)} - Written by: {
              frontmatter.author
            }
          </p>
          <div class="flex gap-3 items-end">
            {
              frontmatter.tags.map((tag) => (
                <span class="inline-flex items-center uppercase    hover:text-blue-500   text-xs font-medium text-[var(--clr-base-text)]">
                  <a href={`/tags/${tag}`}>{tag}</a>
                </span>
              ))
            }
          </div>
        </div>
        <div class="p-4 flex flex-col mt-4 px-4 justify-between">
          <h1
            id="#top"
            class="text-[var(--clr-h-text)] text-4xl tracking-tight text-balance mt-4 lg:mt-8 font-medium font-display md:text-8xl"
          >
            {frontmatter.title}
          </h1>
          <p class="max-w-2xl mt-8 mx-auto text-[var(--clr-base-text)]">
            <em>{frontmatter.description}</em>
          </p>
        </div>
      </div>

      <div class="p-4 mt-12 max-w-3xl mx-auto">
        <div class="prose__styles">
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
